.nav-fix {
    padding-top: 80px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding-left: 10%;
}

body {
    background-image: url("/assets/img/bg-masthead.webp");
    background-repeat: repeat;
    background-size: cover;
    background-position: top;
}

.table-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}